@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/poppins');
body {
    font-family: 'roboto';
}
body * {
    margin: 0;
}
.container  {
    position: relative;
}
.container {
    width: 90%;
    margin: auto;
}
.h1 {
    color: rgba(49,45,43);
    margin-bottom: 20px;
}
.content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    width: 255px;
    padding: 15px;
    z-index: 20;
    background-color: #fff;
    text-align: center;
}
.content.hidden {
    display: none;
}
.main {
    width: 400px;
    border: 1px solid gray;
    box-shadow: 0 0 2px 1px gray;
    border-radius: 10px;
    padding: 25px 25px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.my_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    padding: 0px 8px;
    border-radius: 20px;
    background-color: rgba(49, 45, 43);
    color: #fff;
    cursor: pointer;
}
.item {
    border: 2px solid;
    padding: 10px 20px;
    position: relative;
    color: rgba(49,45,43);
    background-color: #fff;
    height: 65px;
    margin: 0 0 15px;
}
.content_list {
    padding: 2px 5px;
    overflow-y: scroll;
    height: 200px;
}
input.form-control, textarea.form-control {
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 15px;
    width: 90%;
}
input.form-control {
    border-bottom: 1px dashed black;
}
textarea.form-control {
    resize: none;
    height: 110px;
}


/*code de test */
.my_btn:hover .by_content.show {
    display: block;
}

.by_content {
    width: 186px;
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
}
.by_content .by_item {
    padding: 6px 18px 8px;
    
}
.by_content .by_item:first-child {
    background: #DC5318;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.by_content .by_title {
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}
.by_content .by_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 4px;
}
.by_content .by_date, .by_content .by_date * {
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    color: #7E7E7E;
}
.by_close {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: absolute;
    height: 22px;
    width: 22px;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
    -ms-flex-item-align: start;
    align-self: flex-start;
    top: 3px;
    right: 4px;
    border: unset;
    background-color: transparent;
}

.by_close::before,
.by_close::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	border-radius: 3px;
	background: currentColor;
}
.by_close::before{
	width: 2px;
	height: 13px;
}
.by_close::after{
	width: 13px;
	height: 2px;
}